<div id="app">
 <h1>Students</h1>
 <ul>
 <li v-for="student in students">
  {{ students }}
 </li>
 </ul>
 </div>

<div id="app">
 <h1>Experiences</h1>
 <ul>
 <li v-for="experience in experiences">
  {{ experience }}
 </li>
 </ul>
 </div>

  <h1>Capstones</h1>
 <ul>
 <li v-for="capstone in capstones">
  {{ capstone }}
 </li>
 </ul>
 </div>